body {
   background-color: #95a8a0
}

@font-face {
font-family: "chalkfont"; 
src: url("ChalkStick-WjAv.ttf")
}

.header { 
    font-size: 100px;
    color:blue; 
    margin-left: 15%;
    font-family: "chalkfont"
}

.backgroundpic{
    position:relative; 
   width: 1500px;
}

.mainwrapper{
    position: absolute; 
    height:400px;
    display:grid; 
    grid-template-columns: 300px 300px 300px 300px; 
    grid-template-rows: repeat(10, 1fr);
    z-index: 2;
    top:15%;
    left:5%;
    gap:5px; 

}

.titlewrapper{
    display:grid; 
    position: relative; 
    width: 1200px; 
    left:-80%;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: repeat(12,50px);
   height: 600px; 
   top:12%; 
}



.namecolumn, .tuition, .class {

    display:grid; 
    border-bottom: 2px solid rgb(159, 227, 236);
    position:absolute; 
    left:5%;
    width:200px; 
    height:40px; 
    z-index: 4;
    font-size: 34px;
    color:white; 
    font-family: "chalkfont"; 
    top:-10%; 

}

.namecolumn {
    left:0%; 
}



.changepage{
    position:absolute; 
    font-family: "chalkfont";
    font-size: 30px;
    color:white; 
   left:70%;
    top:25%;
    z-index: 9;
}

.tutionprice, .studentlevel, .studentname{
position: relative; 
font-family: "chalkfont";
font-size: 30px;
color:white; 
padding-top: 20px;
left:15%; 
border-bottom: 2px solid black;
}

.addStudentBtn{
  position:absolute; 
  left:75%;
  bottom:0%;
    width:70px; 
  height:70px; 
    background-image: url("./plus.png");
  background-size: contain;
  background-color: green;
  z-index: 7;


}

.modalwrapper{
   display:grid; 
  grid-template-columns:repeat(5,auto);
  grid-template-rows: repeat(5,auto);
    width:1000px; 
   height:600px ;
   background-color: rgb(190, 220, 224);
   z-index: 100;
   position: relative;
   margin-left: 15%;
   margin-top: 5%;
   
}

.modalheading{

 font-size: 46px;
 left:25%;
 background-color: rgb(224, 224, 202);
 grid-column: 1/6;
 height:50px;
text-align: center;

}



#newtuition{
    height:20px;
}

.checkbutton{
  
 background-color: green;
 grid-column: 2/3;


}


.deletebtn{
    position: relative; 
    width:24px;
    height:24px;
    background-image: url("delete-button.png");
    background-size: contain;
    z-index: 999;
}




.deletebtncolumn{
    display:grid; 
   position:absolute; 
    grid-template-rows: repeat(12,50px);
   background-color: red;
   width:50px; 
   margin-left: 20%;
   
}

.deletebtn:hover{
    background-color: rgb(29, 18, 185);
    width:20px;
    height:20px;
    }
    